/* Variables */

:root {
    --primary-color: #F1F1F1;
    --primary-hover: #669EC0;
    --primary-active: #5496BD;
    --accent-color: #766357;
    --accent-hover: #604E43;
    --accent-active: #503E33;
    --basic-white: #ffffff;
    --basic-black: #000000;
    --text-color: #333333;
    --active-text: rgba(255, 255, 255, 0.3);
}
/* Global */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    background-color: var(--primary-color);
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    color: #fff;
    position: relative;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s linear;
}

img {
    display: block;
    max-width: 100%;
}

.link-more {
    width: 132px;
    height: 44px;
    background: #fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 44px;
    color: #0B0B0B;
    position: relative;
}

/* Navigation */
.header-navigation {
    /* max-width: 100%; */
    display: flex;
    justify-content: space-between;
}

.wrap-navigation {
    display: flex;
    flex-direction: column;
    background-color: #e5e3e3;
    border-right: 125px solid #E5E3E3;
}

.link-navigation,
.site-navigation {
    display: flex;
    margin-left: auto;    
}
.link-navigation {
    background: var(--primary-color);
    border-bottom-right-radius: 60px;
    padding-left: 465px;
    padding-right: 30px;
}
.wrap-site-navigation {
    background: var(--primary-color);
}
.site-navigation {
    font-family: 'Open Sans', sans-serif;
    background: #E5E3E3;
    border-top-left-radius: 60px;
    padding-left: 15px;
}

.main-logo {
    padding: 19px 0 10px 60px;
}

.fab {
    font-size: 32px;
    margin: 0px 15px;
    color: #e5e3e3;
    padding: 23px 0px 20px 0px;
}

.lang-btn {
    padding: 30px 20px 0px 10px;
}

.site-navigation li{
    font-size: 20px;
    color: var(--basic-black);
    padding: 13px 0px 15px 65px;
}

.site-navigation__link {
    text-decoration: none;
    color: inherit;
    letter-spacing: 2px;
}

.search {
    border: none;
    background: #E5E3E3;
}

/*********   slider   **********/

.hero__slide {
    min-height: 86vh;
}

.hero__slide--1 {
    background: url('../img/index/main-slide-1.jpg') no-repeat center center / cover;
}

.hero__slide--2 {
    background: url('../img/index/main-slide-2.jpg') no-repeat center center / cover;
}

.hero__slide--3 {
    background: url('../img/index/main-slide-3.jpg') no-repeat center center / cover;
}

.hero__slide--4 {
    background: url('../img/index/main-slide-4.jpg') no-repeat center center / cover;
}

.hero__container {
    padding-top: 15vh;
}

.hero__content {
    position: relative;
    padding-left: 15px;
}

.hero__content:before {
    width: 873px;
    height: 511px;
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: -200px;
    background: url('../img/decor-header.svg') no-repeat center center / cover;
}

.hero__desc {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #fff;
    position: relative;
}

/* SLider */

.slider-item {
    background: url(../img/index/main-slide-1.jpg);
    /* height: 100vh; */
}

.slider-item__information {
    padding: 140px 0 0 72px;
    height: 505px;
    position: relative;
    color: white;
    background: url(../img/index/text-background.svg) no-repeat 0% 130px;
}

.slider-title {
    font-size: 30px;
    margin: 63px 0 53px;
}

.slider-link {
    display: inline-block;
    padding: 14px 32px;
    background-color: #F6F6F6;
    color: #0B0B0B;
    text-decoration: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 27.5px;
}