/* Variables */

:root {
    --primary-color: #F1F1F1;
    --primary-hover: #669EC0;
    --primary-active: #5496BD;
    --accent-color: #147536;
    --accent-hover: #604E43;
    --accent-active: #503E33;
    --basic-white: #ffffff;
    --basic-black: #000000;
    --background-decoration: rgba(219, 219, 219, 0.55);
    --text-color: #333333;
    --footer: #2D2D2D;
    --active-text: rgba(255, 255, 255, 0.3);
}

/* Global */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.09em;
    background-color: var(--primary-color);
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    color: #fff;
    position: relative;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s linear;
}

img {
    display: block;
    max-width: 100%;
}

.link-more {
    width: 132px;
    height: 44px;
    background: #fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 44px;
    color: #0B0B0B;
    position: relative;
    border-radius: 27px;
}

/* Hide elements */
.vissually-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance:none;
      appearance: none;
}

/* Navigation */
.header-navigation {
    /* max-width: 100%; */
    display: flex;
    justify-content: space-between;
}

.wrap-navigation {
    display: flex;
    flex-direction: column;
    background-color: #e5e3e3;
    border-right: 125px solid #E5E3E3;
}

.link-navigation,
.site-navigation {
    display: flex;
    margin-left: auto;
}
.link-navigation {
    background: var(--primary-color);
    border-bottom-right-radius: 60px;
    padding-left: 465px;
    padding-right: 30px;
}
.wrap-site-navigation {
    background: var(--primary-color);
}
.site-navigation {
    font-family: 'Open Sans', sans-serif;
    background: #E5E3E3;
    border-top-left-radius: 60px;
    padding-left: 15px;
}

.main-logo {
    padding: 19px 0 10px 60px;
}

.fab {
    font-size: 32px;
    margin: 0px 15px;
    color: #e5e3e3;
    padding: 23px 0px 20px 0px;
}

.lang-btn {
    padding: 30px 20px 0px 10px;
}

.site-navigation li{
    font-size: 20px;
    color: var(--basic-black);
    padding: 13px 0px 15px 65px;
}

.site-navigation__link {
    text-decoration: none;
    color: inherit;
    letter-spacing: 2px;
}

.search {
    border: none;
    background: #E5E3E3;
}

/*********   slider   **********/

.hero__slide {
    min-height: 86vh;
    overflow: hidden;
}

.hero__slide--1 {
    background: url('../img/index/main-slide-1.jpg') no-repeat center center / cover;
}

.hero__slide--2 {
    background: url('../img/index/main-slide-2.jpg') no-repeat center center / cover;
}

.hero__slide--3 {
    background: url('../img/index/main-slide-3.jpg') no-repeat center center / cover;
}

.hero__slide--4 {
    background: url('../img/index/main-slide-4.jpg') no-repeat center center / cover;
}

.hero__container {
    padding-top: 15vh;

}

.hero__content {
    position: relative;
    padding-top: 80px;
}

.hero__content:before {
    height: 512px;
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: -240px;
}

.hero__content--1:before {
    width: 873px;
    background: url('../img/index/text-bg-1.svg') no-repeat center center / cover;
}

.hero__content--2:before {
    width: 923px;
    background: url('../img/index/text-bg-2.svg') no-repeat center center / cover;
}

.hero__content--3:before {
    width: 949px;
    height: 486px;
    background: url('../img/index/text-bg-3.svg') no-repeat center center / cover;
}

.hero__content--4:before {
    width: 949px;
    height: 486px;
    background: url('../img/index/text-bg-4.svg') no-repeat center center / cover;
}

.hero__title {
    margin-bottom: 50px;
}

.hero__title .text-regular {
    font-weight: 400;
}

.hero__desc {
    max-width: 540px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #fff;
    position: relative;
    margin-bottom: 50px;
}

.slick-slide:focus {
    outline: none;
}

.hero-prev,
.hero-next {
    width: 17px;
    height: 30px;
    position: absolute;
    bottom: 110px;
    right: 50px;
    z-index: 30;
    background: url('../img/index/arrow-slader-hero.png') no-repeat center center / cover;
    cursor: pointer;
}

.hero-prev {
    right: 85px;
    transform: rotate(-180deg);
}

.slick-dots {
    width: 220px;
    bottom: 58px;
    right: 40px;
}

.slick-dots li {
    width: 35px;
    height: 6px;
    margin: 0 10px;
}

.slick-dots li button {
    width: 100%;
    height: 100%;
}

.slick-dots li button:before {
    content: "";
    width: 100%;
    height: 100%;
    opacity: 1;
    background: rgba(164, 164, 164, 0.59);
    border-radius: 20px 0;
}

.slick-dots li.slick-active button:before {
    background: #fff;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

/********** main-menu ************/

.main-menu {
    height: 100vh;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "a a b b" "a a b b" "c c d e" "c c f g";
    padding-top: 20px;
}

.main-menu__item {
    padding: 40px;
}

.main-menu__item--1 {
    grid-area: a;
    background: url('../img/index/hay-handling-equipment.jpg') no-repeat center center / cover;
}

.main-menu__item--2 {
    grid-area: b;
    background: url('../img/index/municipal-machines.jpg') no-repeat center center / cover;
}

.main-menu__item--3 {
    grid-area: c;
    background: url('../img/index/field machinery.jpg') no-repeat center center / cover;
}

.main-menu__item--4 {
    grid-area: d;
    background: url('../img/index/light.jpg') no-repeat center center / cover;
}

.main-menu__item--5 {
    grid-area: e;
    background: url('../img/index/service.jpg') no-repeat center center / cover;
}

.main-menu__item--6 {
    grid-area: f;
    background: url('../img/index/foto-video.jpg') no-repeat center center / cover;
}

.main-menu__item--7 {
    grid-area: g;
    background: url('../img/index/catalogues.jpg') no-repeat center center / cover;
}

.main-menu__title {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    margin-bottom: 32px;
}

.main-menu__desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    margin-bottom: 35px;
}

.main-menu__link {
    width: 125px;
    height: 42px;
    line-height: 42px;
}


/* News */
.news {
  margin: 110px 0 0;
  text-align: center;
}
.news__title {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 9px;
  margin-bottom: 100px;
}
.news__title:after {
  position: absolute;
  top: 50px;
  right: calc(50% - 50px);
  /* margin: 0 auto; */
  content: "";
  width: 98px;
  height: 1px;
  background-color: var(--basic-black);
}
.news__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  justify-content: center;
  text-align: left;
}

.news__item {
  background-color: var(--background-decoration);
  padding: 15px 0 0;
}
.news__content {
  padding: 26px 30px 30px;
}
.news__content-title {
  font-size: 18px;
}

.news__show-more {
  border: 1px solid var(--accent-color);
  font-size: 20px;
  background: #F6F6F6;
  border: 1px solid rgba(20, 117, 54, 0.75);
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 27.5px;
  padding: 11px 27px;
  color: var(--basic-black);
  margin: 85px auto;
}
/* Footer */
.main-footer {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--footer);
}

.footer__decoration {
  position: absolute;
  bottom: 90px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: -1;
}

.footer-box {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: space-between;
  color: var(--basic-white);
  padding: 58px 0;
  width: 100%;
}

.footer-box a{
  color: var(--basic-white);
  font-size: 18px;
}

.footer__contacts-phones {
  display: flex;
}

.footer__phones-wrapper {
  display: flex;
  flex-direction: column;
}
